@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$dark-blue-title: #192b59;
$light-blue-text: #1a88e1;
$light-text: #fff;
$gray-text: #7581a1;
$button-blue: #1085e4;
$button-gray: #cbdbe8;
$button-text-gray: #7e8bae;

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: $gray-text;
}
.page {
    text-align: center;
    margin: 0 auto;
}
h2 {
    font-size: 50px;
    color: $dark-blue-title;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1.5px;
}
.btn-primary {
    background-color: $button-blue;
    color: $light-text;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 12px;
    font-weight: 700;
    padding: 21px 40px;
    border-radius: 30px;
}
.btn-secondary {
    background-color: $button-gray;
    color: $button-text-gray;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 12px;
    font-weight: 700;
    padding: 21px 40px;
    border-radius: 30px;
}
.page-header {
    h1 {
        font-size: 80px;
        font-weight: 600;
        color: $dark-blue-title;
        max-width: 540px;
        line-height: 1.1;
        letter-spacing: -2.5px;
        margin-bottom: 64px;
    }
    &-nav {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        &-item {
            padding: 0 15px;
            color: $gray-text;
        }
    }    
}
.btn-free {
    font-weight: 400;
    background-color: $button-blue;
    padding: 21px 52px;
    letter-spacing: 1.7px;
    margin-left: 15px;
}
.grid {
    h2 {
        font-size: 40px;
        color: $dark-blue-title;
        font-weight: 700;
        span {
            display: block;
            color: $light-blue-text;
            font-size: 14px;
            font-weight: 700;
        }
    }
}
.grid-item {
    h3 {
        color: $dark-blue-title;
        font-weight: 600;
        font-size: 20px;
    }
    a {
        font-size: 14px;
        color: $button-blue;
        font-weight: 600;
    }
}
.page-stat {
    text-align: center;
    padding: 116px 0 96px 0;
    background-color: #edf6ff;
    &__title {
        margin: 0 auto;
        max-width: 500px;
        line-height: 1.2;
        letter-spacing: -1.5px;
        span {
            display: block;
            font-size: 16px;
            color: $button-blue;
            font-weight: 800;
            margin-bottom: 14px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
    }
    &-list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin-top: 76px;

        li {
            color: $button-blue;
            font-weight: 700;
            font-size: 12px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2.7px;
            span {
                display: block;
                font-size: 60px;
                color: #bacbdc;
                margin-bottom: 23px;
                letter-spacing: 0;
            }
        }
    }
}
